$top-nav-height: 46px;
$tab-nav-height: 50px;

.tab-view-container {
  height: 100%;
  padding-top: $top-nav-height;
  padding-bottom: $tab-nav-height;
  overflow: hidden;
}

.sub-view-container {
  height: 100%;
  padding-top: $top-nav-height;
  overflow: hidden;
}

.view {
  height: 100%;
  overflow: auto;
}
